
@font-face {
    font-family: rainbow;
    src: url(../assets/Rainbow.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(../assets/bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    padding: 5vh;
    margin-left: auto;
	margin-right: auto;
	display: block;
    height: 11vh;
}

.title {
    font-family: rainbow;
    margin-left: auto;
	margin-right: auto;
	display: block;
    text-align: center;
    font-size: 200%;
    margin-bottom: 5vh;
}

#mapName {
    margin: 20px;
}

.map_img img {
    margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 50vw;
    border-radius: 30px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
}

.button1 {
    margin-left: auto;
	margin-right: auto;
	display: block;
    text-align: center;
    margin-top: 5vh;
}

.button1 button {
    width: 300px;
    background-color: #00caff;
    border-radius: 7px;
    border-style: hidden;
    transition: 0.5s ease;
}

.button1 p {
    padding: 5vh 10vh;
    font-family: rainbow;
    font-size: 40px;
    color: #ffffff
}

.button1 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button1 button:active {
    background-color: #000000;
}